<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>Angular Bulma Blog</strong>
        <br />
        por <a href="https://stewan.io">Stewan Pacheco</a> <a class="icon" href="https://github.com/st1s">
          <i class="fa fa-github"></i>
        </a>
      </p>
      <p>
        <strong>Curtiu o projeto?</strong><br /><a href="https://stewan.io/ebooks/guia-definitivo-do-angular">Baixe meu ebook de angular</a> e veja passo a passo + código fonte
      </p>
    </div>
  </div>
</footer>